{% extends "base.html" %}

{% block title %}Projects - My Portfolio{% endblock %}

{% block content %}
<h1>Projects</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="https://github.com/yourusername/project1">Optimized Data Pipelines</a></li>
    <li class="list-group-item"><a href="https://github.com/yourusername/project2">Real-Time Analytics</a></li>
    <li class="list-group-item"><a href="https://github.com/yourusername/project3">Machine Learning Pipelines</a></li>
</ul>
{% endblock %}